
    .slider {
        width: 800px;
        height: 600px;
        justify-self: start;
        overflow: hidden;
        display: none;
       
    } 
    .slides{
        width: 100%;
        height: 100%;
         display: flex; 
        
    }

     .slides input[type=radio]{
        display: none;
    } 
     .item{
        width: 25%;
        transition: 1s;
    } 
     .item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
     .manualNavigation{
        position: absolute;
        width: 800px;   
        display: flex;
        justify-content: center;
        align-self: flex-end;  
        margin-bottom: 40px; 
    } 
     .label{
        border: 2px solid #BE948F;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .label:not(:last-child){
        margin-right: 40px;
    }
    .label:hover{
        background-color: #BE948F;
    }
    #radio01:checked ~ .first{
        margin-left: 0px;
       
    }
    #radio02:checked ~ .first{
        margin-left: -25%;
        
       
    }
    #radio03:checked ~ .first{
        margin-left: -50%;
        
        
    } 
    

@media screen and (max-width: 500px) {
   
    .slider {
        width: 100%;
        height: 100%; 
        justify-self: start;
        overflow: hidden;
        display: grid;
    }
    .slides{
        display: flex;
        width: 400%;
        
    }
    .slides input[type=radio]{
        display: none;
    }
    .item{
        width: 25%;
        transition: 0.7s;
        transition-timing-function: ease-in-out;
    }
    .item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .manualNavigation{
        position: absolute;
        width: 100%;   
        display: flex;
        justify-content: center;
        align-self: flex-end;
        margin-bottom:-2rem; 
    }
    .label{
        border: 2px solid #BE948F;       
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;    
    }
    .label:not(:last-child){
        margin-right: 10px;
    }
    .label:hover{
        background-color: #BE948F;
    }
    #radio01:checked ~ .first{
        margin-left: 0px;
    }
    #radio02:checked ~ .first{
        margin-left: -25%;
    }
    #radio03:checked ~ .first{
        margin-left: -50%;
    }
}


